.git
.gitignore
.next
.next-stale-build
.open-next
.wrangler
cloudflare-env.d.ts
node_modules
data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
deploy/.env.production
